.container.contact__container {
    width: 58%;
    grid-template-columns: 38% 58%;
    gap: 12%;
    display: grid;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}